<form>
<div class="row upload-section">
	<div class="col s2 l2">
		<label class="upload-txt">Photo</label>
	</div>
	<div class="col s3 l2">
		<img src="images/upload.png" class="responsive-img" alt="upload icon"/>
	</div>
	<div class="col s7 l8">
		<a class="waves-effect waves-light btn">Upload</a>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Name*</label>
	</div>
	<div class="col s5">
		<input type="text" class="input-fields active" placeholder="Laura"/>
	</div>
	<div class="col s5">
		<input type="text" class="input-fields" placeholder="last name"/>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Email*</label>
	</div>
	<div class="col s9 l7">
		<input type="email" class="validate input-fields" placeholder="email address"/>
	</div>
</div>
<div class="row">
	<div class="col s2 l2">
		<label>Phone*</label>
	</div>
	<div class="col s7 l5">
		<input type="tel" class="validate input-fields" placeholder="(XXX) XXX-XXXX"/>
	</div>
</div>
<div class="row">
	<div class="col s2 l2">
		<label>Group*</label>
	</div>
	<div class="col s7 l5">
		<select class="browser-default">
		    <option value="" disabled selected>Unassigned</option>
		    <option value="1">Bridesmaid</option>
		    <option value="2">Groomsmen</option>
		    <option value="3">Couple</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col s2 l2">
		<label>Role</label>
	</div>
	<div class="col s7 l5">
		<input type="text" class="input-fields" placeholder="i.e. Maid of Honor"/>
	</div>
</div>
<div class="row">
	<div class="col s2 l2">
		<label>Address</label>
	</div>
	<div class="col s10 l7">
		<input type="text" class="input-fields" placeholder="address"/>
		<div class="row marginBottomNone">
			<div class="col s5 l5 paddingLeftNone">
				<input type="text" class="input-fields" placeholder="city"/>
			</div>
			<div class="col s3 l3">
				<select class="browser-default">
				    <option value="" disabled selected>-</option>
				    <option value="1">Option 1</option>
				    <option value="2">Option 2</option>
				    <option value="3">Option 3</option>
				</select>
			</div>
			<div class="col s4 l4 paddingLeftNone paddingRightNone">
				<input type="text" class="input-fields" placeholder="zip"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s2 l2">
		<label>Company</label>
	</div>
	<div class="col s7 l5">
		<input type="text" class="input-fields" placeholder="company name"/>
	</div>
</div>
<div class="row">
	<div class="col s2 l2">
		<label>Website</label>
	</div>
	<div class="col s7 l5">
		<input type="text" class="input-fields" placeholder="website"/>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="waves-effect waves-red btn btn-primary">Add Person</button>
	<button type="button" class="modal-close waves-effect btn btn-default">Cancel</button>
</div>
</form>