<form>
<div class="row upload-section">
	<div class="col s2">
		<label class="upload-txt">Photo</label>
	</div>
	<div class="col s2">
		<img src="images/upload.png" class="responsive-img" alt="upload icon"/>
	</div>
	<div class="col s8">
		<a class="waves-effect waves-light btn">Upload</a>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Photo</label>
	</div>
	<div class="col s5">
		<input type="text" class="input-fields" placeholder="Laura"/>
	</div>
	<div class="col s5">
		<input type="text" class="input-fields" placeholder="last name"/>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Email*</label>
	</div>
	<div class="col s10">
		<input type="email" class="validate input-fields" placeholder="email address"/>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Phone*</label>
	</div>
	<div class="col s10">
		<input type="tel" class="validate input-fields" placeholder="(XXX) XXX-XXXX"/>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Group*</label>
	</div>
	<div class="col s10">
		<select class="browser-default">
		    <option value="" disabled selected>Unassigned</option>
		    <option value="1">Option 1</option>
		    <option value="2">Option 2</option>
		    <option value="3">Option 3</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Role</label>
	</div>
	<div class="col s10">
		<input type="text" class="input-fields" placeholder="i.e. Maid of Honor"/>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Address</label>
	</div>
	<div class="col s10">
		<input type="text" class="input-fields" placeholder="address"/>
		<div class="row">
			<div class="col s6">
				<input type="text" class="input-fields" placeholder="city"/>
			</div>
			<div class="col s2">
				<select class="browser-default">
				    <option value="" disabled selected>-</option>
				    <option value="1">Option 1</option>
				    <option value="2">Option 2</option>
				    <option value="3">Option 3</option>
				</select>
			</div>
			<div class="col s4">
				<input type="text" class="input-fields" placeholder="zip"/>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Company</label>
	</div>
	<div class="col s10">
		<input type="text" class="input-fields" placeholder="company name"/>
	</div>
</div>
<div class="row">
	<div class="col s2">
		<label>Website</label>
	</div>
	<div class="col s10">
		<input type="text" class="input-fields" placeholder="website"/>
	</div>
</div>
</form>