<form class="todo-form" data-parsley-validate>
    <br>
	<div class="row">
		<div class="col s12">
			<label class="leftLabel">To-do Name*</label><br>
			<input type="text" class="input-fields large-inputs w90" required=""/>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<label class="leftLabel">Description</label><br>
			<textarea id="textarea1" class="materialize-textarea input-fields textarea-field"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col s3">
			<label class="leftLabel">Project</label>
		</div>
		<div class="col s5">
			<select style="width:100%;" name="group_name" class="select-group" required="">
			    <option value="unassigned" selected>Unassigned</option>
			    <option value="bridesmaid">Bridesmaid</option>
			    <option value="groomsmen">Groomsmen</option>
			    <option value="couple">Couple</option>
			</select>
		</div>
	</div>
	<div class="row todo-modal-datepicker">
		<div class="col s3 l3">
			<label class="leftLabel">Due Date</label>
		</div>
		<div class="col s9 l5">
	      	<div id="" class="row input-group date datepicker-box" data-date-format="D M dd yyyy">
                <span class="input-group-addon col s2"><i class=""><img src="images/calendaricon.png"></i></span>
                <input class="form-control col s10 tasks-date-input" type="text" readonly />
              </div>
		</div> 	
	</div>
	<div class="row">
		<div class="col s3">
			<label class="leftLabel">Assigned to:</label>
		</div>
		<div class="col s9">
			<input type="text" class="input-fields chips-input" placeholder="Type a person or group name to add"/>
		</div>
        <div class="col s12">
			<div class="chip tag-inputs">
    			<i class="material-icons chip-close">close</i>Bridesmaids	
  			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<label class="leftLabel">Add attachments</label>
			<div class="clearfix"></div>
			@@include("../attachment.html")
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-green disabled disabled-btn">Add To-do</button>
		<input type="reset" class="hide reset-btn">
		<button type="button" class="modal-close btn btn-default cancel-btn">Cancel</button>
	</div>
</form>