<form class="todo-form">
	<div class="row">
		<div class="col s12">
			<label>To-do Name*</label><br>
			<input type="text" class="input-fields large-inputs" placeholder="Get sized for bridesmaids gown"/>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<label>Description</label><br>
			<textarea id="textarea1" class="materialize-textarea input-fields textarea-field" placeholder="Please go to the shop to get your measurements done so we can place an order for the gowns!"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col s3">
			<label>Project</label>
		</div>
		<div class="col s5">
			<select class="browser-default">
			    <option value="" disabled selected>Bridesmaids</option>
			    <option value="1">Option 1</option>
			    <option value="2">Option 2</option>
			    <option value="3">Option 3</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col s3">
			<label>Due Date</label>
		</div>
		<div class="col s5">
			 <input type="date" class="datepicker input-fields" placeholder="Wed. Jan 14 2016">
		</div>
	</div>
	<div class="row">
		<div class="col s3">
			<label>Assigned to:</label>
		</div>
		<div class="col s9">
			<input type="text" class="input-fields" placeholder="Type a person or group name to add"/>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="chip tag-inputs">
    			<i class="material-icons chip-close">close</i>Bridesmaids	
  			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<label>Add attachments</label>
			<div class="row">
				<div class="col s2">
					<div class="file-field input-field">
				      <div class="btn attach">
				        <img src="images/plusicon.svg" class="responsive-img" alt="add-attachement icon">
				        <input type="file">
				      </div>
				    </div>
				</div>
				<div class="col s2">
					<img src="`faker.image.fashion`" class="responsive-img attached-img" alt="attachments">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="waves-effect waves-red btn">Add Person</button>
		<button type="button" class="modal-close waves-effect waves-green btn btn-default">Cancel</button>
	</div>
</form>