@charset "UTF-8";

//mixins
@import "../bower_components/Materialize/sass/components/mixins";
@import "../bower_components/Materialize/sass/components/color";
@import "globals/mixins";


//materialize variables
@import "../bower_components/Materialize/sass/components/variables";

//variables
@import "globals/variables";

// Reset
@import "../bower_components/Materialize/sass/components/normalize";

//fonts and icons
@import "../bower_components/Materialize/sass/components/icons-material-design";
@import "globals/fonts.scss";

//plugins
// inject:plugins
// endinject

//components
@import "../bower_components/Materialize/sass/components/global";
@import "../bower_components/Materialize/sass/components/icons-material-design";
@import "../bower_components/Materialize/sass/components/grid";
@import "../bower_components/Materialize/sass/components/navbar";
@import "../bower_components/Materialize/sass/components/roboto";
@import "../bower_components/Materialize/sass/components/typography";
@import "../bower_components/Materialize/sass/components/cards";
@import "../bower_components/Materialize/sass/components/toast";
@import "../bower_components/Materialize/sass/components/tabs";
@import "../bower_components/Materialize/sass/components/tooltip";
@import "../bower_components/Materialize/sass/components/buttons";
@import "../bower_components/Materialize/sass/components/dropdown";
@import "../bower_components/Materialize/sass/components/waves";
@import "../bower_components/Materialize/sass/components/modal";
@import "../bower_components/Materialize/sass/components/collapsible";
@import "../bower_components/Materialize/sass/components/chips";
@import "../bower_components/Materialize/sass/components/materialbox";
@import "../bower_components/Materialize/sass/components/form";
@import "../bower_components/Materialize/sass/components/table_of_contents";
@import "../bower_components/Materialize/sass/components/sideNav";
@import "../bower_components/Materialize/sass/components/preloader";
@import "../bower_components/Materialize/sass/components/slider";
@import "../bower_components/Materialize/sass/components/carousel";
@import "../bower_components/Materialize/sass/components/date_picker/default.scss";
@import "../bower_components/Materialize/sass/components/date_picker/default.date.scss";
@import "../bower_components/Materialize/sass/components/date_picker/default.time.scss";
// inject:components
// endinject

//trumps
// inject:trumps
// endinject