<div class="row img-attachement-row">
	<div class="col s3 m2 l2">
		<a href="`faker.image.image`" class="image-link"><img src="`faker.image.image`" class="responsive-img attached-img" alt="attachments"></a>
	</div>
	<div class="col s3 m2 l2">
		<img src="`faker.image.image`" class="responsive-img attached-img" alt="attachments">
	</div>
	<div class="col s3 m2 l2">
		<img src="`faker.image.image`" class="responsive-img attached-img" alt="attachments">
	</div>
	<div class="col s3 m2 l2">
		<div class="file-field input-field">
	      <div class="btn attach">
	        <i class="fa fa-plus"></i>
	        <input type="file">
	      </div>
	    </div>
	</div>
</div>