<div class="row">
	<div class="col s2">
		<div class="file-field input-field">
	      <div class="btn attach">
	        <img src="images/plusicon.svg" class="responsive-img" alt="add-attachement icon">
	        <input type="file">
	      </div>
	    </div>
	</div>
	<div class="col s2">
		<img src="`faker.internet.avatar`" class="responsive-img attached-img" alt="attachments">
	</div>
	<div class="col s2">
		<img src="`faker.internet.avatar`" class="responsive-img attached-img" alt="attachments">
	</div>
	<div class="col s2">
		<img src="`faker.internet.avatar`" class="responsive-img attached-img" alt="attachments">
	</div>
</div>