<div class="col s12 m6 l6">
  <div class="row card white hoverable">
    <a class="btn-floating toggle-plus hide-on-small-only">
        <i class="fa fa-plus"></i>
    </a>
    <div class="col s4 m4 l4">
    	<img src="`faker.image.avatar`" class="responsive-img circle card-img" alt="card image"/>
    </div>
    <div class="col s8 m8 l7">
    	<h5 class="truncate">`faker.name.findName`</h5>
    	<p class="title truncate">`faker.name.title`</p>
    	<p class="risk-txt truncate">1 To-do at risk!</p>
    </div>
    <br><br>
    <div class="hide-on-med-and-up mobile-toggle hide">
        <div class="col s2">
            <i class="material-icons">info_outline</i>
        </div>
        <div class="col s10">
            <p class="status-buttons">
            @@include("../components/toggle-buttons.html")
            </p>
        </div>
    </div>
  </div>
</div>
<div class="col s12 m12 l12 hide">
    <div class="details-section hoverable">
        @@include("./cards-collapsed.html")
    </div>
</div>
    