<!-- Reminder - Modal Structure -->
  <div id="delete" class="modal delete-modal">
  <i class="fa fa-times close-modal"></i>
    <div class="modal-content">
    	 <div class="row delete-inner-content center-align">
            <div class="col s12 m12 l12">
              <p>Delete Groomsmen Project</p>
              <p>There are 9 to-dos in this project</p>
              <button type="button" class="btn btn-green">Move to-dos to unassigned</button><br><br>
              <button type="button" class="btn">Delete project and all todos</button>
            </div>  
        </div>
      </div>
    </div>