<!-- Reminder - Modal Structure -->
  <div id="delete" class="modal delete-modal">
    <i class="fa fa-times modal-close"></i>
    <div class="modal-content">
    	 <div class="row delete-inner-content center-align">
            <div class="col s12 m12 l12">
              <p>Delete Groomsmen Project</p>
              <p>There are <span>9 to-dos</span> in this project</p>
              <button type="button" class="btn move-btn">Move to-dos to unassigned</button>
              <!--<button type="button" class="btn delete-btn">Delete project and all todos</button>-->
            </div>  
        </div>
      </div>
    </div>