<div class="row todo-item-row selected">
	<div class="col s2">
		<p class="checkbox-wrapper">
	      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" checked />
	      <label for="filled-in-box`faker.random.number`">
	      	<span class="attire">Attire</span>
	      </label>
	    </p>
	</div>
	<div class="col s4">
		<span>Choose gown color</span>
	</div>
	<div class="col s6 m3 l3 left-right-grey-border">
		<div id="" class="input-group date datepicker-box no-bg-border expand-datepicker active" data-date-format="D M dd yyyy">
	        <span class="input-group-addon"><i class="material-icons">today</i></span>
	        <span><input class="form-control" type="text" readonly /></span>
      	</div>
	</div>
	<div class="col s6 m2 l3">
		<div class="expanded-links center-align">
			<a class="expand-link modal-trigger" href="#reminder">Remind</a>
			<a href="#" class="expand-link">Remove</a>
			<a href="#expand" class="expand-link modal-trigger">Expand</a>
		</div>
	</div>
</div>
<div class="row todo-item-row">
	<div class="col s2">
		<p class="checkbox-wrapper">
	      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`"/>
	      <label for="filled-in-box`faker.random.number`">
	      	<span class="attire">Attire</span>
	      </label>
	    </p>
	</div>
	<div class="col s4">
		<span>Choose gown size and measurements</span>
	</div>
	<div class="col s6 m3 l3 left-right-grey-border">
		<div id="" class="row input-group date datepicker-box no-bg-border expand-datepicker" data-date-format="D M dd yyyy">
	        <span class="input-group-addon"><i class="material-icons">today</i></span>
	        <span><input class="form-control" type="text" readonly /></span>
      </div>
	</div>
	<div class="col s6 m2 l3">
		<div class="expanded-links center-align">
			<a class="expand-link modal-trigger" href="#reminder">Remind</a>
			<a href="#" class="expand-link">Remove</a>
			<a href="#expand" class="expand-link modal-trigger">Expand</a>
		</div>
	</div>
</div>

<div class="row todo-item-row">
	<div class="col s2">
		<p class="checkbox-wrapper">
	      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`"/>
	      <label for="filled-in-box`faker.random.number`">
	      	<span class="attire">Flowers</span>
	      </label>
	    </p>
	</div>
	<div class="col s4">
		<span>Choose bridal bouquet</span>
	</div>
	<div class="col s6 m3 l3 left-right-grey-border">
		<div id="" class="row input-group date datepicker-box no-bg-border expand-datepicker" data-date-format="D M dd yyyy">
	        <span class="input-group-addon"><i class="material-icons">today</i></span>
	        <span><input class="form-control" type="text" readonly /></span>
      </div>
	</div>
	<div class="col s6 m2 l3">
		<div class="expanded-links center-align">
			<a class="expand-link modal-trigger" href="#reminder">Remind</a>
			<a href="#" class="expand-link">Remove</a>
			<a href="#expand" class="expand-link modal-trigger">Expand</a>
		</div>
	</div>
</div>

