
<div class="complete-tasks">
	<div class="row todo-item-row selected hide-on-small-only">
		<div class="col s2">
			<p class="checkbox-wrapper">
		      <label for="filled-in-box`faker.random.number`">
		      	<span class="attire">Attire</span>
		      </label>
		    </p>
		</div>
		<div class="col s4">
			<span>Choose gown color</span>
		</div>
		<div class="col s6 m3 l3 left-right-grey-border">
			<div id="" class="input-group date no-bg-border expand-datepicker active" data-date-format="D M dd yyyy">
		        <span class="input-group-addon"><i class="material-icons">today</i></span>
		        <span>Wed Mar 16 2016</span>
	      	</div>
		</div>
		<div class="col s6 m2 l3">
			<div class="expanded-links center-align">
				<a href="#expand" class="expand-link modal-trigger">Expand</a>
			</div>
		</div>
	</div>
	<!--mobile-->
	<div class="row todo-item-row selected todo-item-row-mob hide-on-med-and-up">
		<div class="col s11 offset-s1">
			<span class="attire"><a href="#expand" class="modal-trigger">Attire</a></span>
			<p class="checkbox-wrapper">
		      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" checked />
		      <label for="filled-in-box`faker.random.number`"></label>
		    </p>
		</div>
		<div class="col s11 offset-s1">
			<span>Choose gown color</span>
		</div>
		<div class="col s11 offset-s1 m3 l3">
			<div id="" class="input-group date no-bg-border expand-datepicker active" data-date-format="D M dd yyyy">
		        <span class="input-group-addon"><i class="material-icons">today</i></span>
		        <span>Wed Mar 16 2016</span>
	      	</div>
		</div>
	</div>
</div>

<div class="incomplete-tasks">
	<div class="row todo-item-row hide-on-small-only">
		<div class="col s2">
			<p class="checkbox-wrapper">
		      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`"/>
		      <label for="filled-in-box`faker.random.number`">
		      	<span class="attire">Attire</span>
		      </label>
		    </p>
		</div>
		<div class="col s4">
			<span>Choose gown size and measurements</span>
		</div>
		<div class="col s6 m3 l3 left-right-grey-border">
			<div id="" class="input-group date no-bg-border expand-datepicker" data-date-format="D M dd yyyy">
		        <span class="input-group-addon"><i class="material-icons">today</i></span>
		        <span>Wed Mar 16 2016</span>
	      	</div>
		</div>
		<div class="col s6 m2 l3">
			<div class="expanded-links center-align">
				<a href="#expand" class="expand-link modal-trigger">Expand</a>
			</div>
		</div>
	</div>
	<!--mobile-->
	<div class="row todo-item-row todo-item-row-mob hide-on-med-and-up">
		<div class="col s11 offset-s1">
			<span class="attire"><a href="#expand" class="modal-trigger">Attire</a></span>
			<p class="checkbox-wrapper">
		      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" checked />
		      <label for="filled-in-box`faker.random.number`"></label>
		    </p>
		</div>
		<div class="col s11 offset-s1">
			<span>Choose gown color</span>
		</div>
		<div class="col s11 offset-s1 m3 l3">
			<div id="" class="input-group date no-bg-border expand-datepicker active" data-date-format="D M dd yyyy">
		        <span class="input-group-addon"><i class="material-icons">today</i></span>
		        <span>Wed Mar 16 2016</span>
	      	</div>
		</div>
	</div>

	<div class="row todo-item-row hide-on-small-only">
		<div class="col s2">
			<p class="checkbox-wrapper">
		      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`"/>
		      <label for="filled-in-box`faker.random.number`">
		      	<span class="attire">Flowers</span>
		      </label>
		    </p>
		</div>
		<div class="col s4">
			<span>Choose bridal bouquet</span>
		</div>
		<div class="col s6 m3 l3 left-right-grey-border">
			<div id="" class="input-group date no-bg-border expand-datepicker" data-date-format="D M dd yyyy">
		        <span class="input-group-addon"><i class="material-icons">today</i></span>
		        <span>Wed Mar 16 2016</span>
	      	</div>
		</div>
		<div class="col s6 m2 l3">
			<div class="expanded-links center-align">
				<a href="#expand" class="expand-link modal-trigger">Expand</a>
			</div>
		</div>
	</div>
	<!--mobile-->
	<div class="row todo-item-row todo-item-row-mob hide-on-med-and-up">
		<div class="col s11 offset-s1">
			<span class="attire"><a href="#expand" class="modal-trigger">Attire</a></span>
			<p class="checkbox-wrapper">
		      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" checked />
		      <label for="filled-in-box`faker.random.number`"></label>
		    </p>
		</div>
		<div class="col s11 offset-s1">
			<span>Choose gown color</span>
		</div>
		<div class="col s11 offset-s1 m3 l3">
			<div id="" class="input-group date no-bg-border expand-datepicker active" data-date-format="D M dd yyyy">
		        <span class="input-group-addon"><i class="material-icons">today</i></span>
		        <span>Wed Mar 16 2016</span>
	      	</div>
		</div>
	</div>

	<div class="row reminder-footer hide-on-small-only">
        <div class="col s5">
            <p class="total-selected-todos" style="visibility: hidden;"><span>1</span> to-do selected</p>
        </div>
        <div class="col s7">
            <button type="button" class="btn btn-default send-reminder btn-green disabled modal-trigger" href="#reminder">Send Reminder</button>
        </div>
    </div>
    
    <div class="row hide-on-med-and-up mob-reminder-footer">
        <div class="col s5">
            <p class="total-selected-todos" style="visibility: hidden;"><span>1</span> to-do selected</p>
        </div>
        <div class="col s7">
            <button type="button" class="btn btn-default send-reminder btn-green disabled modal-trigger" href="#reminder">Send Reminder</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>