<div class="row todo-item-row selected">
	<div class="col s6 m1 l1">
		<p class="checkbox-wrapper">
	      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" checked="checked" />
	      <label for="filled-in-box`faker.random.number`"></label>
	    </p>
	</div>
	<div class="col s6 m6 l7 badges">
		<div class="row">
			<div class="col s3"><span class="">Attire</span></div>
			<div class="col s9"><p>Choose gown color</p></div>
		</div>
	</div>
	<div class="col s6 m3 l2 left-right-grey-border">
		<p class="center-align">
			<i class="material-icons datepicker">today</i>
			<p>Mon Jan 11 2016</p>
		</p>
	</div>
	<div class="col s6 m2 l2">
		<a href="#" class="expand-link">Expand</a>
	</div>
</div>
<div class="row todo-item-row">
	<div class="col s6 m1 l1">
		<p class="checkbox-wrapper">
	      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" checked="checked" />
	      <label for="filled-in-box`faker.random.number`"></label>
	    </p>
	</div>
	<div class="col s6 m6 l7 badges">
		<div class="row">
			<div class="col s3"><span class="">Attire</span></div>
			<div class="col s9"><p>Choose gown color sizes and measurements</p></div>
		</div>
	</div>
	<div class="col s6 m3 l2 left-right-grey-border">
		<p class="center-align">
			<i class="material-icons datepicker">today</i>
			<p>Mon Jan 11 2016</p>
		</p>
	</div>
	<div class="col s6 m2 l2">
		<a href="#" class="expand-link">Expand</a>
	</div>
</div>

<div class="row todo-item-row">
	<div class="col s6 m1 l1">
		<p class="checkbox-wrapper">
	      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" checked="checked" />
	      <label for="filled-in-box`faker.random.number`"></label>
	    </p>
	</div>
	<div class="col s6 m6 l7 badges">
		<div class="row">
			<div class="col s3"><span class="">Attire</span></div>
			<div class="col s9"><p>Choose bridal bouquet</p></div>
		</div>
	</div>
	<div class="col s6 m3 l2 left-right-grey-border">
		<p class="center-align">
			<i class="material-icons datepicker">today</i>
			<p>Mon Jan 11 2016</p>
		</p>
	</div>
	<div class="col s6 m2 l2">
		<a href="#" class="expand-link">Expand</a>
	</div>
</div>