<div class="row todo-item-row selected todo-item-row-mob">
	<div class="col s11 offset-s1">
		<span class="attire">Attire</span>
		<p class="checkbox-wrapper">
	      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" checked />
	      <label for="filled-in-box`faker.random.number`"></label>
	    </p>
	</div>
	<div class="col s11 offset-s1">
		<span>Choose gown color</span>
	</div>
	<div class="col s11 offset-s1 m3 l3">
		<div id="" class="input-group date no-bg-border expand-datepicker active" data-date-format="D M dd yyyy">
	        <span class="input-group-addon"><i class="material-icons">today</i></span>
	        <span>Wed Mar 16 2016</span>
      	</div>
	</div>
</div>
<div class="row todo-item-row selected todo-item-row-mob">
	<div class="col s11 offset-s1">
		<span class="attire">Attire</span>
		<p class="checkbox-wrapper">
	      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" />
	      <label for="filled-in-box`faker.random.number`"></label>
	    </p>
	</div>
	<div class="col s11 offset-s1">
		<span>Choose gown size and measurements</span>
	</div>
	<div class="col s11 offset-s1 m3 l3">
		<div id="" class="input-group date no-bg-border expand-datepicker active" data-date-format="D M dd yyyy">
	        <span class="input-group-addon"><i class="material-icons">today</i></span>
	        <span>Wed Mar 16 2016</span>
      	</div>
	</div>
</div>

<div class="row todo-item-row selected todo-item-row-mob">
	<div class="col s11 offset-s1">
		<span class="attire">Attire</span>
		<p class="checkbox-wrapper">
	      <input type="checkbox" class="filled-in" id="filled-in-box`faker.random.number`" />
	      <label for="filled-in-box`faker.random.number`"></label>
	    </p>
	</div>
	<div class="col s11 offset-s1">
		<span>Choose bridal bouquet</span>
	</div>
	<div class="col s11 offset-s1 m3 l3">
		<div id="" class="input-group date no-bg-border expand-datepicker active" data-date-format="D M dd yyyy">
	        <span class="input-group-addon"><i class="material-icons">today</i></span>
	        <span>Wed Mar 16 2016</span>
      	</div>
	</div>
</div>

