
    <!-- inject:js -->
  	<script src="./js/modernizr.js"></script>
  	<script src="./jquery/dist/jquery.js"></script>
  	<script src="./js/polyfill.js"></script>
  	<script src="./js/jquery-ui.js"></script>
  	<script src="./Materialize/dist/js/materialize.js"></script>
  	<script src="./jQRangeSlider/jQRangeSliderMouseTouch.js"></script>
  	<script src="./jQRangeSlider/jQRangeSliderDraggable.js"></script>
  	<script src="./jQRangeSlider/jQRangeSliderHandle.js"></script>
  	<script src="./jQRangeSlider/jQRangeSliderBar.js"></script>
  	<script src="./jQRangeSlider/jQRangeSliderLabel.js"></script>
  	<script src="./jQRangeSlider/jQRangeSlider.js"></script>
  	<script src="./jQRangeSlider/jQDateRangeSliderHandle.js"></script>
  	<script src="./jQRangeSlider/jQDateRangeSlider.js"></script>
  	<script src="./jQRangeSlider/jQRuler.js"></script>
  	<script src="./jquery-slimscroll/jquery.slimscroll.js"></script>
  	<script src="./parsleyjs/dist/parsley.js"></script>
  	<script src="./chosen/chosen.jquery.js"></script>
  	<script src="./bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  	<script src="./moment/moment.js"></script>
  	<script src="./fullcalendar/dist/fullcalendar.js"></script>
  	<script src="./jt.timepicker/jquery.timepicker.js"></script>
  	<!-- endinject -->
    <script src="./js/script.js"></script>
    </body>
</html>