    
    <script src="./js/modernizr.js"></script>
    <!-- inject:js -->
  	<script src="./jquery/dist/jquery.js"></script>
  	<script src="./Materialize/dist/js/materialize.js"></script>
  	<script src="./jquery-ui/jquery-ui.js"></script>
  	<script src="./jQRangeSlider/jQRangeSlider.js"></script>
  	<script src="./jQRangeSlider/jQDateRangeSlider.js"></script>
  	<script src="./jquery-slimscroll/jquery.slimscroll.js"></script>
  	<!-- endinject -->
    <script src="./js/script.js"></script>
    </body>
</html>