<div class="row below-navbar">
	<div class="col s8 l4">
		@@include("../components/search.html", {"placeholder" : "Search people"})
	</div>
	<div class="col s4 l8">
		<div class="right">
			<a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#addperson-modal"><i class="material-icons">add</i></a>
			<p>Add Person</p>
		</div>

		<!-- Modal Structure -->
		  <div id="addperson-modal" class="modal">
		    <div class="modal-content">
		      <h4>Modal Header</h4>
		      <p>A bunch of text</p>
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		    </div>
		  </div>
	</div>
</div>