<div class="blue-bar">
	<div class="row below-navbar">
		<div class="col l4 hide-on-small-only">
			@@include("../components/search.html", {"placeholder" : "Search peoples"})
		</div>
		<div class="col l8 hide-on-small-only">
			<div class="add-person-section right">
				<a class="btn-floating btn-large modal-trigger" href="#addperson-modal"><i class="material-icons">add</i></a>
				<p>Add Person</p>
			</div>
		</div>
		<div class="col s12 hide-on-med-and-up">
			<p class="people-title">People</p>
			<div class="add-person-section right">
				<a class="btn-floating btn-large modal-trigger" href="#addperson-modal"><i class="material-icons">add</i></a>
				<p>Add Person</p>
			</div>
		</div>
	</div>
</div>
@@include('./modal.html', {
	"title" : "Add Person",
	"id" : "addperson-modal",
	"modalContent" : "add-person"
})