<div class="row people-collapsed-wrapper">
	<div class="col s12">
		<br>
		<div class="row" id="couple">
			<div class="col s12">
				<h4 class="active">The Couple</h4>
			</div>
		</div>
		 <div class="row">
		 	<div class="box">
				@@include("../components/cards.html")
				@@include("../components/cards.html")
				<div class="clearfix"></div>
			</div>
	    </div>
	    <div class="row" id="bridesmaids">
			<div class="col s12">
				<h4>Bridesmaids</h4>
			</div>
		</div>
		 <div class="row">
		 	<div class="box">
				@@include("../components/cards.html")
				@@include("../components/cards.html")
				<div class="clearfix"></div>
			</div>
			<div class="box">
				@@include("../components/cards.html")
				<div class="clearfix"></div>
			</div>
	    </div>

	    <div class="row" id="groomsmen">
			<div class="col s12">
				<h4>Groomsmen</h4>
			</div>
		</div>
		 <div class="row">
		 	<div class="box">
				@@include("../components/cards.html")
				@@include("../components/cards.html")
				<div class="clearfix"></div>
			</div>
			<div class="box">
				@@include("../components/cards.html")
				<div class="clearfix"></div>
			</div>
	    </div>
	</div>
</div>