<!-- Reminder - Modal Structure -->
  <div id="reminder" class="modal reminder-modal">
    <div class="modal-content">
      <h6 class="reminder-title">Send reminder to <span class="bold-text">Jane</span> to complete <span class="bold-text">Choose gown color</span>?</h6>
      <div class="editable">
      	<p class="marginNone">Hey Jane,<p>
		
    		<p>It looks like <span class="bold-text">Choose gown color</span> is overdue! If you have already completed this item,<a href="#" class="active-link"> update your status</a></p>

    		<p>If you have a question or need more time, click to<a href="#" class="active-link"> discuss</a>.</p>

    		<p class="marginNone">Thanks,</p>
    		<p class="marginNone">Aflutter Team</p>
      </div>
    </div>
    <div class="modal-footer">
  		<button type="submit" class="btn btn-primary">SEND REMINDER</button>
  		<button type="button" class="modal-close btn btn-default reminder-cancel">CANCEL</button>
	  </div>
</div>