<div class="blue-bar">
	<div class="row below-navbar">
		<div class="col l4 hide-on-small-only">
			@@include("../components/search.html", {"placeholder" : "Search people"})
		</div>
		<div class="col l8 hide-on-small-only">
			<div class="add-person-section right">
				<a class="btn-floating btn-large modal-trigger" href="#add-event-modal"><i class="material-icons">add</i></a>
				<p>Add Event</p>
			</div>
		</div>
		<div class="col s12 hide-on-med-and-up">
			<p class="people-title">People</p>
			<div class="add-person-section right">
				<a class="btn-floating btn-large modal-trigger" href="#add-event-modal"><i class="material-icons">add</i></a>
				<p>Add Event</p>
			</div>
		</div>
	</div>
</div>