<div class="blue-bar">
	<div class="row below-navbar">
		<div class="col l4 l4 hide-on-small-only">
			@@include("../components/search.html", {"placeholder" : "Search schedule"})
		</div>
		<div class="col m8 l8 hide-on-small-only">
			<div class="add-person-section right">
				<a class="btn-floating btn-large modal-trigger" href="#add-event-modal"><i class="material-icons">add</i></a>
				<p>Add To Schedule</p>
			</div>
		</div>
		<div class="col s12 hide-on-med-and-up">
			<p class="people-title">Schedule</p>
			<div class="add-person-section right">
				<a class="btn-floating btn-large modal-trigger" href="#add-event-modal"><i class="material-icons">add</i></a>
				<p>Add To Schedule</p>
			</div>
		</div>
	</div>
</div>