<div class="row schedule-icons hide-on-small-only">
	<div class="col s3">
		<h5>Schedule</h5>
		<p>Day 1 : Welcome Reception</p>
	</div>
	<div class="col s9">
		<div class="icons-list right">
			<a href="#"><i class="fa fa-user blue-icon"></i></a>
			<a href="#"><i class="fa fa-users"></i></a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#calendar-full" class="cal-switch"><i class="fa fa-calendar-o blue-icon fa-inverse"></i></a>
			<a href="#list-calendar" class="cal-switch"><i class="fa fa-list-ul"></i></a>
		</div>
	</div>
</div>

<div class="row schedule-icons hide-on-med-and-up">
	<div class="col s12">
		<p class="active-txt">DAY 1 : Sunday, January 31st, 2017</p>
	</div>
</div>
