<div class="row calendar-row hide-on-small-only">
	<div class="col s12">
		<div id='calendar'></div>
	</div>
</div>

<div class="row calendar-row hide-on-med-and-up">
	<div class="col s12">
		<div class="people-scroll">
		<table class="list-view-events">
	        <tbody>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
	          <tr>
	            <td><p class="time">8:15</p></td>
	            <td><p>Hair & Makeup</p></td>
	          </tr>
        	</tbody>
      	</table>
      	</div>
	</div>
</div>
