<div class="calendars-wrapper">
	<div id="calendar-full">
		<div class="row calendar-row hide-on-small-only">
			<div class="col s12">
				<div id='calendar'></div>
			</div>
		</div>
	</div>

	<div id="list-calendar" style="display: none">
		<div class="row calendar-row">
			<div class="col s12">
				<div class="people-scroll">
				<table class="list-view-events">
			        <tbody>
			          <tr>
			            <td class="time-td"><p class="time">8:15</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">8:30</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">8:45</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">9:00</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">9:15</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">9:30</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">10:00</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">10:15</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">10:30</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">10:45</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">11:00</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">11:15</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">11:30</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">11:45</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">12:00</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
			          <tr>
			            <td class="time-td"><p class="time">12:15</p></td>
			            <td><p class="mob-events">Hair & Makeup</p></td>
			          </tr>
		        	</tbody>
		      	</table>
		      	</div>
			</div>
		</div>
	</div>
</div>