<!--Mobile Nav-->
<ul id="nav-mobile" class="side-nav left">
    <li>
        <div class="circle-avatars">
            <img src="`faker.image.avatar`" class="circle responsive-img" alt="sidenav avatars" />
            <img src="`faker.image.avatar`" class="circle responsive-img" alt="sidenav avatars" />
            <span>John & Jane</span><br>
            <span>6.24.2016</span>
        </div>
    </li>
    <li>
    	<h5>Groups</h5>
    	<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </li>
</ul>