<!--Mobile Nav-->
<ul id="nav-mobile" class="side-nav left">
    <li>
        <div class="circle-avatars">
            <img src="`faker.image.avatar`" class="circle responsive-img" alt="sidenav avatars" />
            <img src="`faker.image.avatar`" class="circle responsive-img" alt="sidenav avatars" />
            <div class="clearfix"></div>
            <p class="stylish">John & Jane</p>
            <p class="date">6.24.2016</p>
        </div>
    </li>
    <li>
    	<h5>Groups</h5>
    	<a class="btn-floating btn-small waves-effect waves-light add-groups-btn"><i class="material-icons">add</i></a>
        <div class="clearfix"></div>
    </li>
    <li class="hide">
        <input type="text" class="new-project-input" placeholder="New Group"></li>
    </li>
    <li class="group active droppable">
        <a href="#couple">Couple</a>
        <a href="#" class="dropdown-button" data-beloworigin="true" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a>
        <!-- Dropdown Structure -->
          <ul id="dropdown1" class='dropdown-content'>
            <li><a href="#!">Rename Groups</a></li>
            <li><a href="#!">Delete Groups</a></li>
          </ul>
    </li>
    <li class="group droppable">
        <a href="#bridesmaids">Bridesmaids</a>
        <a href="#" class="dropdown-button" data-activates="dropdown2"><i class="material-icons right">more_vert</i></a>
        <!-- Dropdown Structure -->
          <ul id="dropdown2" class='dropdown-content'>
            <li><a href="#!">Rename Groups</a></li>
            <li><a href="#!">Delete Groups</a></li>
          </ul>
    </li>
    <li class="group droppable">
        <a href="#groomsmen">Groomsmen</a>
        <a href="#" class="dropdown-button" data-activates="dropdown3"><i class="material-icons right">more_vert</i></a>
        <!-- Dropdown Structure -->
          <ul id="dropdown3" class='dropdown-content'>
            <li><a href="#!">Rename Groups</a></li>
            <li><a href="#!">Delete Groups</a></li>
          </ul>
    </li>
    <li class="group droppable">
        <a href="#unassigned">Unassigned</a>
        <a href="#" class="dropdown-button" data-activates="dropdown4"><i class="material-icons right">more_vert</i></a>
        <!-- Dropdown Structure -->
          <ul id="dropdown4" class='dropdown-content'>
            <li><a href="#!">Rename Groups</a></li>
            <li><a href="#!">Delete Groups</a></li>
          </ul>
    </li>
</ul>