<!--Mobile Nav-->
<ul id="nav-mobile" class="side-nav left">
    <li>
        <div class="circle-avatars">
            <img src="`faker.image.avatar`" class="circle responsive-img" alt="sidenav avatars" />
            <img src="`faker.image.avatar`" class="circle responsive-img" alt="sidenav avatars" />
            <div class="clearfix"></div>
            <p class="stylish">John & Jane</p>
            <p class="date">6.24.2016</p>
        </div>
    </li>
    @@include('./side-navs/@@page.html')
</ul>

@@include('./delete-modal.html', {
    "id" : "delete",
    "modalContent" : "delete"
})