
<div class="blue-bar">
	<div class="row below-navbar to-do-content">
		<div class="col s8 m4 l4">
			@@include("../components/search.html", {"placeholder" : "Search to-do"})
		</div>
		<div class="col s8 m3 l3">
			@@include("../components/toggle-buttons.html")
		</div>
		<div class="col s8 m3 l3">
			@@include("../components/blue-select.html")
		</div>
		<div class="col s4 m2 l2">
			<div class="add-todo">
				<a class="btn-floating btn-large modal-trigger" href="#addtodo-modal"><i class="material-icons">add</i></a>
				<p>Add To-do</p>
			</div>
		</div>
	</div>
</div>
@@include('./modal.html', {
	"title" : "Add a To-do",
	"id" : "addtodo-modal",
	"modalContent" : "add-todo"
})