<div class="row tabs-wrapper-row">
    <div class="col s12 m4 l4">
        <ul class="tabs todo-tabs">
            <li class="tab col s2 tab-active"><a class="active" href="#discussion">Discussion</a></li>
            <li class="tab col s2"><a href="#people">People</a></li>
        </ul>
    </div>
</div>
<div class="todo-tab-container">
  <div class="row discussion-row">
    <div tab-id="discussion" class="col s12 l12">
        <div class="row discussion-tab">
          <div class="col s3 m1 l1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
            <p>ANNA</p>
          </div>
          <div class="col s9 m11 l11">
            <p class="light-grey">Dec 6th at 9:02am</p>
            <p>If you wait until tomorrow you can get them on sale... there is a big selection of navy blue gowns in this style online at <a href="#">bridesmaiddresses.com</a></p>
          </div>
        </div>
        <div class="row discussion-tab">
          <div class="col s3 m1 l1">
            <a href="`faker.image.image`" class="image-link"><img src="`faker.internet.avatar`" class="responsive-img circle"></a>
            <p>ANNA</p>
          </div>
          <div class="col s9 m11 l11">
            <p class="light-grey">Dec 6th at 9:02am</p>
            <img src="`faker.internet.avatar`" class="responsive-img comments-img">
            <p class="comment-txt">If you wait until tomorrow you can get them on sale... there is a big selection of navy blue gowns in this style online at <a href="#">bridesmaiddresses.com</a></p>
          </div>
        </div>
        <div class="row discussion-tab">
          <div class="col s3 m1 l1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
            <p>ANNA</p>
          </div>
          <div class="col s9 m11 l11">
            <p class="light-grey">Dec 6th at 9:02am</p>
            <p>If you wait until tomorrow you can get them on sale... there is a big selection of navy blue gowns in this style online at <a href="#">bridesmaiddresses.com</a></p>
          </div>
        </div>
        <hr>
        <div class="row send-row">
          <div class="col s3 m1 l1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s9 m9 l9">
            <!--<input type="text" class="add-textfield"><button type="btn" class="send-btn"><i class="fa fa-plus"></i></button>-->
            <input type='text' placeholder='Add comment...' class="add-textfield" id='search-text-input' />
            <div class="button-holder">
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <div class="col s12 m2 l2">
            <button type="submit" class="btn btn-primary btn-green discuss-send-btn disabled disabled-btn">SEND</button>
          </div>
        </div>
      </div>
  </div>

  <div class="row people-row">
    <div tab-id="people" class="col s12 l12">
        <div class="row people-tab-row incomplete-section hide-on-small-only">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
          </div>
          <div class="col s6 m5">
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>
        <!--mobile-->
        <div class="row people-tab-row incomplete-section people-tab-mob hide-on-med-and-up">
          <div class="col s4">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s8">
            <p>Nina Smith</p>
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>


        <div class="row people-tab-row incomplete-section hide-on-small-only">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
          </div>
          <div class="col s6 m5">
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>
        <!--mobile-->
        <div class="row people-tab-row incomplete-section people-tab-mob hide-on-med-and-up">
          <div class="col s4">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s8">
            <p>Nina Smith</p>
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>


        <div class="row people-tab-row incomplete-section hide-on-small-only">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="incomplete">
              <i class="incomplete-img"><img src="images/incompleteicon.png"></i>
            <span>Incomplete</span>
            </p>
          </div>
          <div class="col s6 m5">
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>
        <!--mobile-->
        <div class="row people-tab-row incomplete-section people-tab-mob hide-on-med-and-up">
          <div class="col s4">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s8">
            <p>Nina Smith</p>
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Incomplete</span></p>
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>


        <div class="row people-tab-row incomplete-section hide-on-small-only">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
          </div>
          <div class="col s6 m5">
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>
        <!--mobile-->
        <div class="row people-tab-row incomplete-section people-tab-mob hide-on-med-and-up">
          <div class="col s4">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s8">
            <p>Nina Smith</p>
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>


        <div class="row people-tab-row incomplete-section hide-on-small-only">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
          </div>
          <div class="col s6 m5">
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>
        <!--mobile-->
        <div class="row people-tab-row incomplete-section people-tab-mob hide-on-med-and-up">
          <div class="col s4">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s8">
            <p>Nina Smith</p>
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>


        <div class="row people-tab-row incomplete-section hide-on-small-only">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
          </div>
          <div class="col s6 m5">
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>
        <!--mobile-->
        <div class="row people-tab-row incomplete-section people-tab-mob hide-on-med-and-up">
          <div class="col s4">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s8">
            <p>Nina Smith</p>
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>


        <div class="row people-tab-row incomplete-section hide-on-small-only">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
          </div>
          <div class="col s6 m5">
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>
        <!--mobile-->
        <div class="row people-tab-row incomplete-section people-tab-mob hide-on-med-and-up">
          <div class="col s4">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s8">
            <p>Nina Smith</p>
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>

      <div class="row people-tab-footer hide-on-small-only">
        <div class="col m1 l1">
          <a class="btn-floating btn-small groups-btn people-tab-add"><i class="material-icons">add</i></a>
        </div>
        <div class="col m5 l5">
          <p>Add Person</p>
        </div>
        <div class="col m6 l6">
          <div class="row incomplete-reminder">
              <a class="btn btn-green no-margin">Send Reminder</a>
          </div>
        </div>
      </div>

      <!--mobile footer-->
      <div class="row people-tab-footer tabs-mob-footer hide-on-med-and-up">
        <div class="col s12">
          <p class="center-align"><a class="btn-floating btn-small groups-btn people-tab-add"><i class="material-icons">add</i></a><span>Add Person</span></p><br>
        </div>
        <div class="col s12">
          <div class="row incomplete-reminder">
            <a class="btn btn-green no-margin">Send Reminder</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
