<div class="row tabs-wrapper-row">
    <div class="col s12 m4 offset-m1">
        <ul class="tabs todo-tabs">
            <li class="tab col s2"><a class="active" href="#discussion">Discussion</a></li>
            <li class="tab col s2"><a href="#people">People</a></li>
        </ul>
    </div>
</div>
<div class>
  <div class="row discussion-row">
    <div tab-id="discussion" class="col s12 m10 offset-m1">
      <div class="people-scroll">
        <div class="row discussion-tab">
          <div class="col s1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
            <p>ANNA</p>
          </div>
          <div class="col s11">
            <p class="light-grey">Dec 6th at 9:02am</p>
            <p>If you wait until tomorrow you can get them on sale... there is a big selection of navy blue gowns in this style online at <a href="#">bridesmaiddresses.com</a></p>
          </div>
        </div>
        <div class="row discussion-tab">
          <div class="col s1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
            <p>ANNA</p>
          </div>
          <div class="col s11">
            <p class="light-grey">Dec 6th at 9:02am</p>
            <img src="`faker.internet.avatar`" class="responsive-img comments-img">
            <p class="comment-txt">If you wait until tomorrow you can get them on sale... there is a big selection of navy blue gowns in this style online at <a href="#">bridesmaiddresses.com</a></p>
          </div>
        </div>
        <div class="row discussion-tab">
          <div class="col s1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
            <p>ANNA</p>
          </div>
          <div class="col s11">
            <p class="light-grey">Dec 6th at 9:02am</p>
            <p>If you wait until tomorrow you can get them on sale... there is a big selection of navy blue gowns in this style online at <a href="#">bridesmaiddresses.com</a></p>
          </div>
        </div>
        </div>
        <hr>
        <div class="row send-row">
          <div class="col s1">
            <i class="fa fa-circle-thin"></i>
          </div>
          <div class="col s9">
            <input type="text" class="add-textfield"><button type="btn" class="send-btn"><i class="fa fa-plus"></i></button>
          </div>
          <div class="col s2">
            <button type="submit" class="btn btn-primary blue-btn">SEND</button>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div tab-id="people" class="col s12 m10 offset-m1">
      <div class="people-scroll">
        <div class="row people-tab-row">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed">
              <i class="fa fa-check-circle-o"></i>
              <span>Complete</span>
            </p>
          </div>
          <div class="col s6 m5"></div>
        </div>
        <div class="row people-tab-row">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
          </div>
          <div class="col s6 m5"></div>
        </div>
        <div class="row people-tab-row incomplete-section">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="incomplete"><i class="fa fa-check-circle-o"></i>
            <span>Incomplete</span></p>
          </div>
          <div class="col s6 m5">
            <button type="button" class="btn btn-primary pink-border">Remove Person</button>
          </div>
        </div>
        <div class="row people-tab-row">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed"><i class="fa fa-check-circle-o"></i>
            <span>Complete</span></p>
          </div>
          <div class="col s6 m5"></div>
        </div>
        <div class="row people-tab-row">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed">
              <i class="fa fa-check-circle-o"></i>
              <span>Complete</span>
            </p>
          </div>
          <div class="col s6 m5"></div>
        </div>
        <div class="row people-tab-row">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed">
              <i class="fa fa-check-circle-o"></i>
              <span>Complete</span>
            </p>
          </div>
          <div class="col s6 m5"></div>
        </div>
        <div class="row people-tab-row">
          <div class="col s1 m1">
            <img src="`faker.internet.avatar`" class="responsive-img circle">
          </div>
          <div class="col s3 m3">
            <p>Nina Smith</p>
          </div>
          <div class="col s2 m3">
            <p class="completed">
              <i class="fa fa-check-circle-o"></i>
              <span>Complete</span>
            </p>
          </div>
          <div class="col s6 m5"></div>
        </div>
      </div>
      <div class="row people-tab-footer">
        <div class="col s1">
          <a class="btn-floating btn-small waves-effect waves-light groups-btn people-tab-add"><i class="material-icons">add</i></a>
        </div>
        <div class="col s5">
          <p>Add Person</p>
        </div>
        <div class="col s6">
          <div class="row incomplete-reminder">
              <div class="col s6 l5">
                  <p class="incomplete-txt">1 to-do selected</p>
              </div>
              <div class="col s6 l7">
                  <a class="btn btn-green no-margin">Send Reminder</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>