<li>
	<h5>Events</h5>
	<a class="btn-floating btn-small add-groups-btn hide"><i class="material-icons">add</i></a>
    <div class="clearfix"></div>
</li>
<li class="schedule schedule-day active droppable">
    <a class="linked-section" href="#">Welcome Reception</a>
    <a href="#" class="dropdown-button dots3-sidenav" data-activates="dropdown1">
        <i class="material-icons right">more_vert</i>
    </a>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content sidenav-links-activity">
        <li><a href="#!">Rename</a></li>
        <li><a href="#delete" class="modal-trigger">Delete</a></li>
    </ul>
</li>
<li class="schedule schedule-day droppable">
    <a class="linked-section" href="#">Rehersal Dinner</a>
    <a href="#" class="dropdown-button dots3-sidenav" data-activates="dropdown2"><i class="material-icons right">more_vert</i></a>
    <!-- Dropdown Structure -->
    <ul id="dropdown2" class="dropdown-content sidenav-links-activity">
        <li><a href="#!">Rename</a></li>
        <li><a href="#!">Delete</a></li>
    </ul>
</li>
<li class="schedule schedule-day droppable">
    <a class="linked-section" href="#">Welcome Reception</a>
    <a href="#" class="dropdown-button dots3-sidenav" data-activates="dropdown3"><i class="material-icons right">more_vert</i></a>
    <!-- Dropdown Structure -->
      <ul id="dropdown3" class="dropdown-content sidenav-links-activity">
        <li><a href="#!">Rename</a></li>
        <li><a href="#delete" class="modal-trigger">Delete</a></li>
      </ul>
</li>
<li class="schedule schedule-day droppable">
    <a class="linked-section" href="#">Rehersal Dinner</a>
    <a href="#" class="dropdown-button dots3-sidenav" data-activates="dropdown4"><i class="material-icons right">more_vert</i></a>
    <!-- Dropdown Structure -->
      <ul id="dropdown4" class="dropdown-content sidenav-links-activity">
        <li><a href="#!">Rename</a></li>
        <li><a href="#delete" class="modal-trigger">Delete</a></li>
      </ul>
</li>   