.add-event-modal{
	width:40% !important;
	
	.event-persons{
		img{
			width: 50px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	.time-section{
		
	    background-color: #F7F7F7;
	    padding: 5px;
	    border:1px solid #ccc;
	    border-radius:5px;

		p{
			margin:0px;
		}
	}
}