.add-event-modal{
	width:100%;

	@media #{$large-and-up}{
		width: 40% !important;
	}

	.modal-content{
		.row{
			margin-bottom: 0px;
		}
	}
	
	.event-persons{
		img{
			width: 45px;
			margin-top: 10px;
			margin-bottom: 10px;

			@media #{$large-and-up}{
				width: 50px;
			}
		}
	}

	.time-section{
	    background-color: #F7F7F7;
	    padding: 5px;
	    border:1px solid #ccc;
	    border-radius:5px;
	    position: relative;

		input{
			width: 30% !important;
			text-align: center;
		}

		p{
			margin:0px;
		}
	}

	.modal-footer{
		button{
			padding:0 1rem;
		}
	}
}

.ui-timepicker-wrapper{
	z-index:99999 !important;
	position:absolute !important;
	top:50% !important;
}