.img-attachement-row{
	margin-bottom:5px;

.attach{
		background-color: #F1F1F1;
	    cursor: pointer;
	    width: 100%;
	    height: 5rem !important;
	    line-height: 3.5rem !important;
	    padding: 1rem;
	    position: relative;
    	box-shadow:none;

	    &:hover{
	    	background-color:#F1F1F1;
	    	box-shadow:none;
	    }

	    i{
	    	color: #000;
	    }
	}

	.attached-img{
		margin-top:1rem;
		width: 5rem;
		height: 5rem !important;
	}

}