.attach{
		background-color: #ccc;
	    cursor: pointer;
	    width: 4rem;
    	height: 5rem !important;
    	line-height: 4rem !important;
	    padding: 1rem;
	    position: relative;
    	z-index: 999;

	    &:hover{
	    	background-color:#ccc;
	    	box-shadow:none;
	    }

	    img{
	    	width: 35px;
	    }
	}

	.attached-img{
		margin-top:1rem;
		width: 5rem;
		height: 5rem !important;
	}