.attach{
		background-color: #ccc;
	    cursor: pointer;
	    width: 5rem;
	    height: 5rem !important;
	    line-height: 5rem !important;
	    padding: 1rem;
	    position: relative;
    	z-index: 1000;

	    &:hover{
	    	background-color:#ccc;
	    	box-shadow:none;
	    }

	    img{
	    	width: 35px;
	    }
	}

	.attached-img{
		margin-top:1rem;
		width: 5rem;
		height: 5rem !important;
	}