.card-expanded{
    
    padding-left: 15px;
    padding-right:15px;
    padding-bottom:10px;

    .details-wrapper{
        a.contact-website{
            color: #F8A382;
        }
    }

    .reminder-wrapper{
    	background-color: #F6F6F6;
        width: 100%;
        margin-bottom: 20px;
        float: right;

         @media #{$medium-and-up}{
         	width:45%;
         }

        p{
        	font-size: 1.1em;
        	color: #888888;
        }
    }

    .reminder-footer{
        float: right;
        background-color: #FBF9F8;
        width: 45%;
    }
}