.card-expanded{
    
    padding-left: 15px;
    padding-right:15px;
    padding-bottom:10px;

    .details-wrapper{
        a.contact-website{
            color: #888888;

            @media #{$medium-and-up}{
                color: #F8A382;
            }
        }

        h6{
            color: #F8A382 !important;
    
             @media #{$medium-and-up}{
                color: #888888 !important;
             }
        }
    }

    .reminder-wrapper{
    	background-color: #F6F6F6;
        width: 100%;
        margin-bottom: 20px;
        float: right;

         @media #{$medium-and-up}{
         	width:45%;
         }

        p{
        	font-size: 1.1em;
        	color: #888888;
        }
    }
}