.card{
	
	padding: 10px 15px;
    cursor : pointer;

    .toggle-plus{
    	font-size: 1.5em;
    	color: #F8A382;
    }
    
	.card-img{
		width: 110px;
	}

	h5{
		color: #697584;
	}

	p{
		margin-bottom: 0px;
		margin-top: 5px;

		&.title{
			color:#ccc;
			font-size: 1.2em;
		}

		&.risk-txt{
			color: #990C3D;
			font-size: 1.2em;
		}
	}

	&.expanded{
		box-shadow:none;
		border:1px solid #ccc;
		border-bottom:0px solid #ccc;
		height: 170px;
	}
}
