.delete-modal{
	width: 30% !important;
    height: 30%;

    .delete-inner-content{

    	margin-top: 20px;
    	
		p{
	    	font-size: 1.4em;
		    margin-top: 5px;
		    margin-bottom: 5px;
		    color:#828282;

		    span{
		    	color:#F8A382;
		    }
	    }

		button{
			border-radius: 0px;
			width: 90%;
			box-shadow:none;
			line-height: 33px;
			padding: 0rem;
			margin-top: 20px;
			text-transform: capitalize;

			&.delete-btn{
				border:1px solid #FF4747;
				color: #FF3750;
				background:none;
			}
		}
    }

	i.modal-close{
		position: absolute;
	    top: -35px;
    	right: -35px;
    	color: #fff;
	    font-size: 2em;
	    z-index: 1000;
	}
}