.delete-modal{
	width: 30% !important;
    height: 40%;

    .delete-inner-content{

    	margin-top: 20px;
    	
		p{
	    	font-size: 1.4em;
		    margin-top: 5px;
		    margin-bottom: 5px;
		    color:#828282;

		    span{
		    	color: #50B3A1;
		    }
	    }

		button{
			border-radius: 0px;
			width: 100%;
			
			&.green-border{
				background-color: transparent;
			    border: 2px solid #50B3A1;
			    color: #50B3A1;
			}

		}
    }

	i.close-modal{
		position: absolute;
	    right: 10px;
	    top: 10px;
	    font-size: 2em;
	}
}