
.todo-item-row{

	border-bottom: 1px solid rgba(242, 242, 242, 0.62);
    padding-bottom: 10px;
    margin-bottom: 0px;
    padding-top: 10px;

	.left-right-grey-border{
		
		.expand-datepicker{
			margin-top: 0px !important;
			text-align: center;

			i{
				color: #95A0AF;
				position: relative;
			    top: 3px;
			    margin-right: 15px;
			}

			span{
				color: #95A0AF;
				display: inline-block;
			}

			&.active{
				i{
					color:#990C3D;
				}

				span{
					color:#990C3D;
				}
			}

		}
	}

	.checkbox-wrapper{
		margin-bottom: 0px;
	    margin-top: 0px;

		[type="checkbox"].filled-in:checked + label:after, .filled-in:not(:checked) + label:after {
			border: 2px solid #e8e8e8;
			border-radius:5px;
			width: 25px;
	    	height: 25px;
		}

		[type="checkbox"].filled-in:checked + label:before{
			width: 10px;
	    	height: 17px;
		}

		label{
			padding-left: 40px;

			span.attire{
				display: inline-block;
				right: auto;
				font-size:1.2em;
				background-color: #F2F2F2;
				padding:0px 20px;
				border-radius:7px;
				color: #2C3952;
				cursor: auto;
			}
		}
	}

	&.selected{
		.left-right-grey-border{
			i.datepicker, p{
				color:#9F1340;
			}
		}	
	}

	span{
		font-size:1.1em;
		display: inline-block;
		margin: 0px;
		color: #95A0AF;
	}

	&.todo-item-row-mob{

		.col{
			margin-bottom: 15px;

			.attire{
				font-size: 1.2em;
			    background-color: #F2F2F2;
			    padding: 0px 20px;
			    border-radius: 7px;
			    color: #2C3952;
			    cursor: auto;

			    a{
					color: #2C3952;
				}
			}

			.checkbox-wrapper{
				display: inline-block;
			    position: absolute;
			    right: 0px;
			    margin-right: 25px;

				label{
					padding-left: 0px !important;
					font-size: 1.2em;
				}

			}

			.expand-datepicker{
				i{
					position: relative;
	    			top: 5px;
				}
			}
		}
	}
}


.expand-link{
	text-decoration:underline;
	color: #697584;
	text-align:center;
	margin-left: 5px;
    margin-right: 5px;
}

