.todo-item-row-mob{

	.col{
		margin-bottom: 15px;

		.attire{
			font-size: 1.2em;
		    background-color: #F2F2F2;
		    padding: 0px 20px;
		    border-radius: 7px;
		    color: #2C3952;
		    cursor: auto;
		}

		.checkbox-wrapper{
			display: inline-block;
		    position: absolute;
		    right: 0px;
		    margin-right: 25px;

			label{
				padding-left: 0px !important;
				font-size: 1.2em;
			}

		}

		.expand-datepicker{
			i{
				position: relative;
    			top: 5px;
			}
		}
	}
}