body{
	overflow:auto !important;
}

.navbar-fixed{
	z-index: 1000;
	nav{

		p{
			margin:0px;
			text-align:center;

			img.logo{
				width:120px;
				margin-top: 10px;
			
				@media #{$medium-and-up}{
					width: 105px;
				    margin-top: 13px;
				    margin-left: 10px;
				}

				@media #{$large-and-up}{
					width: 120px;
				    margin-top: 13px;
				    margin-left: 20px;
				}
			}
		}

		.top-navbar{
			li > a{
				padding: 0px 50px;
				font-size: 1.2em;
				font-weight: 400;

				@media #{$medium-and-up}{
					padding: 0px 12px;
				}

				@media #{$large-and-up}{
					padding: 0px 40px;
				}
				
				&:hover{
					background-color: #F2EBF8;
				}
			}
		}

		#menu-icon{
			i{
				font-size: 2rem;
				color: rgba(105, 117, 132, 0.58);
			}
		}
	}

}

.navigation-side-nav{
	max-width: 240px;
	float:left;
}