@font-face{
	src:url('../font/VisbyCF-Medium.ttf');
	font-family: 'VisbyCF-Medium';
	src: url('../font/VisbyCF-Medium_gdi.eot');
	src: url('../font/VisbyCF-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		 url('../font/VisbyCF-Medium_gdi.woff') format('woff'),
		 url('../font/VisbyCF-Medium_gdi.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


nav{

	position:relative;
	z-index:1000;

	img.logo{
		width:120px;
		margin-top: 13px;
		margin-left: 20px;
	}

	.top-navbar{
		li > a{
			padding: 0px 50px;
			font-size: 1.4em;
			font-family: "VisbyCF-Medium";
			font-weight: 400;

			@media #{$medium-and-up}{
				padding: 0px 15px;
			}

			@media #{$large-and-up}{
				padding: 0px 50px;
			}
		}
	}
}