.modal{
	background-color:#fff;
	top:5% !important;
	max-height:90% !important;
	width:90%;
	overflow-y:hidden;

	@media #{$medium-and-up}{
		width:65%;
	}

	@media #{$large-and-up}{
		width:45%;
	}

	.modal-content{
		padding:15px !important;
	}
	
	h5{
		border-bottom: 2px solid #E6E6E6;
		padding-bottom: 15px;
	}

	.modal-footer{

		margin-bottom:10px;
		margin-top: 0px;
		background-color: #fff;
		a{
			border-radius:7px;
		}
	}
}