.page-content{

	.blue-bar{
		position: fixed;
	    width: 100%;
	    left: 0px;
	    z-index: 1000;
	    background-color: #364559;
	}

	.below-navbar{
		margin-bottom:0px;
		margin-left: 0px;

		@media #{$medium-and-up}{
			padding-top: 15px;
		}

		@media #{$large-and-up}{
			margin-left: 240px;
		}

		.add-person-section{
	    	text-align: center;
			margin-top: -40px;
		    position: relative;
		    z-index: 10000;

		    @media #{$medium-and-up}{
		    	margin-top: -47px;
		    }

		    p{
		    	color: #fff;
		    	margin-bottom: 5px;
	    		margin-top: 5px;
		    }
		}

		.hide-on-med-and-up{

			.add-person-section{
		    	text-align: center;
				margin-top: -70px;
			    position: relative;
			    z-index: 10000;
			}

			p{
		    	color: #fff;
		    	margin-bottom: 5px;
	    		margin-top: 5px;
		    }

			p.people-title{
				margin: 0px;
			    color: #fff;
			    font-size: 1.5em;
				text-align:center;
			}
		}
	}
}

