.page-content{

	.below-navbar{
		background-color: #364559;
	}

	.right{
    	text-align: center;
		margin-top: -40px;
	    position: relative;
	    z-index: 10000;

	    @media #{$medium-and-up}{
	    	margin-top: -47px;
	    }

	    p{
	    	color: #fff;
	    	margin-bottom: 5px;
    		margin-top: 5px;
	    }
	}

}

