
.people-page-content{
	.blue-bar{
		position: fixed;
	    width: 100%;
	    left: 0px;
	    z-index: 1000;
	    background-color: #364559;

		.below-navbar{
			margin-bottom:0px;
			margin-left:0px;

			.add-person-section{
		    	text-align: center;
				margin-top: -70px;
			    position: relative;
			    z-index: 10000;
			}

			p{
		    	color: #fff;
		    	margin-bottom: 5px;
	    		margin-top: 5px;
		    }

			p.people-title{
				margin: 0px;
			    color: #fff;
			    font-size: 1.7em;
				text-align:center;
			}
		}
	}
}