.people-collapsed-wrapper{
	background-color:#FBF9F8;
	padding-left:15px;
	padding-right:15px;
	padding-top: 25px;

	@media #{$medium-and-up}{
		padding-top: 50px;
	}
		.box{
			position : relative !important;

			.col{
				position:relative;

				&.expanded{
					z-index:200;
				}
			}
		}

	h4{
		color: #95A0AF;
		&.active{
	    	color: #F8A382;
		}
	}

	.details-section{
		background-color:#fff;
		margin-top:-67px;
		border:1px solid #ccc;
		border-top-right-radius: 7px;
	    border-bottom-left-radius: 7px;
	    border-bottom-right-radius: 7px;

	    @media #{$medium-and-up}{
	    	margin-top:-16px;
	    }

	    .details-wrapper{
			border-bottom:1px solid #F2F2F2;
			padding: 15px 0px;

			h6, p{
				color: #888888;
			    font-size: 1.2em;
			    font-weight: bold;
			}
			p{
				font-size: 1em;
				font-weight: normal;
				color: #878787;
    			font-size: 1.1em;
			}
	    }
	}

	.scrollspy{
		margin-bottom: 0px;

		@media #{$medium-and-up}{
			margin-bottom: 20px;
		}
	}

	.alert{
		position:fixed;
		top:90px;

		@media #{$medium-and-up}{
			top:100px;
		}
	}
}