
.slider-wrap{
	position: fixed;
    width: 100%;
    z-index: 100;
    left: 0px;
.range-slider-wrapper{
	padding-top: 80px;
	padding-bottom:0px;
    margin-bottom: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.01), 0 3px 0px 0 rgba(0, 0, 0, 0.06);

    @media #{$medium-and-up}{
    	padding-bottom: 15px;
    }

    @media #{$large-and-up}{
		margin-left: 240px;
    }

	p{
		margin-top:5px;
		color: #8B8B8B;
	}

	.ui-slider{
		padding-top: 0px;
		height: 22px;

		.ui-rangeSlider-container{
			width: 100% !important;
			margin: 0px;
			background: #E6E6E6;
			border:1px solid #E6E6E6;
			border-radius: 7px;
			height: 24px;
			box-shadow:none;

			.ui-rangeSlider-handle{
				top: -4px !important;
				background:#F8A382;
				width: 25px;
				border-radius: 5px;
				height: 30px;
			}

			.ui-rangeSlider-innerBar{
				width: 100% !important;
			}

			.ui-rangeSlider-bar{
				@include linear-gradient-left(#364559, #364559, 20%, #CCC, 100%);
				height: 25px;
				position:absolute;
				top:-2px !important;
			}
		}

		.ui-rangeSlider-label{
			box-shadow:none;
			background:none;
			padding:0px;
			bottom:-35px;
			color: #818181;
		}

		.ui-rangeSlider-label-inner{
			display: none;
		}

		.ui-rangeSlider-leftArrow, .ui-rangeSlider-rightArrow{
			display: none;
		}
	}

	.rings-section{

		color: #516580;
		margin-top: 40px;
		font-size: 1.2em;

		@media #{$medium-and-up}{
			margin-top: 0px;
		}

		@media #{$large-and-up}{
			margin-left: 15px;
		}
		span{
			margin-left: 7px;
			float: left;
		    color: #8B8B8B;
		}

		.wedding-rings{
			width: 30px;
			float: left;
		}

		span{
			color: #596B86;
		}
	}
}
}