.range-slider-wrapper{
	padding-top: 85px;
	padding-bottom:30px;
	position: relative;
    z-index: 999;
    margin-bottom: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.01), 0 3px 0px 0 rgba(0, 0, 0, 0.06);

	p{
		margin-top:5px;
		color: #516580;
	}

	.ui-slider{
		padding-top: 0px;

		.ui-rangeSlider-container{
			width: 100% !important;
			margin: 0px;
			background: #E6E6E6;
			border:1px solid #E6E6E6;
			border-radius: 7px;

			.ui-rangeSlider-handle{
				top: -2px !important;
			}

			.ui-rangeSlider-innerBar{
				width: 100% !important;
			}

			.ui-rangeSlider-bar{
				@include linear-gradient-left(#364559, #364559, 20%, #CCC, 100%);
			}

			.ui-rangeSlider-handle{
				background:#F8A382;
				width: 25px;
				border-radius: 7px;
				height: 35px;
			}
		}

		.ui-rangeSlider-label{
			box-shadow:none;
			background:none;
			padding:0px;
			bottom:-35px;
			color: #B0B0B0;
		}

		.ui-rangeSlider-label-inner{
			display: none;
		}

		.ui-rangeSlider-leftArrow, .ui-rangeSlider-rightArrow{
			display: none;
		}
	}

	.rings-section{

		color: #516580;
		margin-top: 40px;
		font-size: 1.2em;
		float: right;

		@media #{$medium-and-up}{
			margin-top: 0px;
		}

		@media #{$large-and-up}{
			margin-right: 20px;
		}
		span{
			margin-left: 7px;
			float: left;
		}

		.wedding-rings{
			width: 30px;
			float: left;
		}
	}
}