.reminder-modal{
	height:385px !important;
	.slimScrollDiv{
		height: auto !important;
	.modal-content{
		height: auto !important;
	}
	.editable{
		width: 100%;
	    height: auto;
	    border: 1px solid #ccc;
	    padding: 10px;
		background-color: #F2F2F2;
		margin-top: 15px;
		}
	}
}