.reminder-modal{
    height: auto !important;
	
	.slimScrollDiv{
		height: auto !important;
	.modal-content{
		height: auto !important;
	}
	.editable{
		width: 100%;
	    height: auto;
	    border: 2px solid #E5E5E5;
	    padding: 10px;
		background-color: #F2F2F2;
		margin-top: 25px;
		border-radius: 5px;

		p{
			color: #888888;
		}
	}
}

	.reminder-title{
		border-bottom:2px solid #E5E5E5;
		padding-bottom:10px;
		color: #364559;
		font-size: 1.2em;
	}

	.modal-footer{
		padding-right: 15px;
	
		.reminder-cancel{
			color:#ccc;
			font-size: 1.2em;
		}

		.send-reminder-btn{
			padding:0px 15px;
		}
	}
}