.fc-event{
	border: 1px solid #FEEAE3;
    background-color: #FEEAE3;
    color: #2C3952 !important;
    width: 35%;
    font-size: 1em;
    font-weight: 700;
}

.fc-content{
	padding: 10px 0 0 10px;

	.fc-time{
		font-size:1em;
	}
}

.fc-head-container, .fc-day-grid, .fc-divider{
	display:none;
}