.calendar-row{
	background-color: #FBF9F8;
	margin-bottom:0px;

	@media #{$medium-and-up}{
		margin-bottom: 40px;
	}

	.slimScrollDiv{
		height: 470px !important;

		.people-scroll{
			height: 470px !important;
		}
	}

	#calendar{
		background-color: #fff;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		border-radius:7px;
		margin-left: 20px !important;
	    margin-right: 20px !important;
	    width: auto !important;

	    .fc-event{
			border: 1px solid #FEEAE3;
		    background-color: #FEEAE3;
		    color: #2C3952 !important;
		    width: 35%;
		    font-size: 1em;
		    font-weight: 700;
		}

		.fc-content{
			padding: 10px 0 0 10px;

			.fc-time{
				font-size:1em;
			}
		}

		.fc-head-container, .fc-day-grid, .fc-divider, .fc-minor{
			display:none;
		}

		.fc td, .fc th{
			border-width:0px;
		}

		.fc-slats tr{
			border-bottom: 1px solid rgba(242, 242, 242, 0.62);
		}

		.fc-time-grid .fc-slats td{
			height: 2.5em;
		}

		thead{
			border-bottom:0px solid #fff;
		}
	}

	.fc-unthemed tbody{
		border-color: rgba(242, 242, 242, 0.62) !important;
	}

	.fc td{
			border-style:none !important;
		}

	.list-view-events{

		tr{
			border-bottom: 1px solid rgba(242, 242, 242, 0.62);

			td{
				padding:10px 5px;

				&.time-td{
					width:100px;
				}
			}
		}
		
		p{
			margin: 0px;

			&.time{
				text-align: center;
			    border-right: 4px solid #E4E1E1;
			    margin-right: 10px;
			    color: #878787;
			}

			&.mob-events{
				a{
					color: #4F637F;
					font-weight: bold;
					letter-spacing: 0.5px;
				}
			}
		}
	}
}
