.schedule-icons{
	padding-top:70px;
	width:90%;
	margin-bottom: 0px;

	h5{
		color: #F8A382;
		margin:0px
	}

	p{
		margin: 0px;
		color: #95A0AF;
		margin-bottom: 10px;
	}

	.icons-list{
		margin-top: 25px;

		i{
			font-size: 1.7em;
			color:#ccc;
			margin-right: 5px;

			&.blue-icon{
				color: #364559;
			}
		}
	}
}