.side-nav{
	z-index: 10000;
	top: auto; 

	li{
		padding:0px;
		&:hover, &.active { background-color: transparent; }
	}

	li:first-child{
		padding:0px;
		
		.circle-avatars{

			background-image: url('../images/pattern.png');
			background-repeat:no-repeat;
			background-size:100%;
			padding: 25px 15px 0px;
			text-align: center;
			height: 190px;

			img{
				width: 40%;
			    float: left;	

			    &:first-child{
					margin-left: 12%;
			    }

			    &:nth-child(2){
					margin-left: -6%;
				}
			}

			p{
				line-height: 10px;

				&.stylish{
					font-size: 1.8em;
    				line-height: 0.5em;
					margin-bottom: 0;
					font-family: 'Sacramento', cursive;
				}

				&.date{
					font-size: 1.2em;
					letter-spacing: 3px;
					color: #8A8A8A;
				}
			}
		}
	}


	li:nth-child(2){
		
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.01), 0 3px 0px 0 rgba(0, 0, 0, 0.06);
		padding:5px;
		margin-bottom: 1px;
		margin-top: 1px;
    	position: relative;
    	z-index: 1000;

		h5{
			float: left;
			color: $navbar-font-color;
			margin-left: 10px;
			font-size: 1.4em;
		}

		a.add-groups-btn{
			float: right;
			margin-right: 10px;
			background-color:$button-color;
			padding : 2px 11px;
			width: 45px;
			height: 45px;

			i{
				width: auto;
			}
		}
	}

	li:nth-child(3){
		.new-project-input{
			margin-bottom: 0px;
		    border: 1px solid #ccc;
		    margin: 10px 5px;
		    height: 2rem;
		    width: 95%;
		    text-indent: 15px;
		    border-radius:7px;
		    border-top:2px solid #ccc;
		    text-transform: capitalize;

			&:focus{
    			box-shadow: none;
			}

			&:active{

			}
		}
	}
}

.group, .schedule{
	border-left:6px solid #8996AB;
	margin-bottom:2px;

	.dropdown-content.sidenav-links-activity{
		overflow: hidden;
		margin-top: 40px;
		position:absolute !important;

		li{
			    min-height: 15px;
    			line-height: 20px;
		
			a{
				color: #8B8B8B;
				height: 30px;
				line-height: 35px;
				padding: 0 16px;
				display:inline-block;
			}
		}
	}

	a{
		color: #95A0AF;
		height: 45px;
		line-height: 45px;
		padding: 0 10px;
		display:inline-block;
		font-size: 1.1em;
	}

	&.active{
		background-color:#F8F8F8 !important;
		border-left:6px solid #F8A382;

		a{
			color: #F8A382;
		}

		.schedule-tabs{
			li{
				a{
					color: #F8A382;
					margin-left: 15px;
					height: 30px;
					line-height: 30px;
					display: block;
				}
			}
		}
	}


	.dots3-sidenav{
    	margin-top: 10px;
    	display: none;

    	i{
    		margin-top: 5px;
    		color: #F8A382;
    		float: right !important;
    	}
	}

	&:hover{
		background-color:#F8F8F8 !important;
	
		.dots3-sidenav{
			display: inline;
			float: right !important;
			width: 30px;
			position: absolute;
			right: 0px !important;
			padding: 0;

			i{
				width:30px;
			}
		}
	}

	.schedule-tabs{
		li{
			a{
				color:#95A0AF;
				margin-left: 15px;
				height: 30px;
				line-height: 30px;
				display: block;
			}
		}
	}
}


#sidenav-overlay, .drag-target {
	display:none;
}
