.side-nav{

	top: auto; 

	li{
		padding:0px;
		line-height: 30px;
		&:hover, &.active { background-color: transparent; }
	}

	.circle-avatars{

		background-image: url('../images/pattern.png');
		background-repeat:no-repeat;
		background-size:100%;
		padding: 25px 15px 0px;
		text-align: center;
		height: 240px;
		img{
			width: 40%;
		    float: left;	

		    &:first-child{
				margin-left: 12%;
		    }

		    &:nth-child(2){
				margin-left: -6%;
			}
		}
	}
}

#sidenav-overlay {
	display:none;
}