.to-do-content{
    margin-bottom: 0;

    .to-do-search{
        margin-top: 0px;
    }

    .add-todo{
    	text-align: center;
        margin-top: -65px;
        position: relative;
        z-index: 1000;
        float: right;
        position: relative;
        z-index: 10000;


        @media #{$large-and-up}{
            margin-right: 20px;
        }
        p{
        	color: #fff;
            margin-bottom: 0px;        
        }

    	@media #{$medium-and-up}{
    		margin-top: -45px;
    	}
    }

    .hide-on-med-and-up{
        .todo-mob-select{
            width: 60%;
            margin: 0px auto;
            position: relative;
            top: 8px;
            left: -10px;
        }

        .add-todo{
            margin-top: -90px;
        }
    
    }
}