.todo-tasks-header{

	min-height:none;
	height:3rem;
	line-height:3rem;
	color:#BBACAC;

	 .row{
		margin-bottom: 0px;

		p.task-text{
			margin:0px;
		}

		i.3dots-icon{
			float: right;
			margin-right: 0px;
		}
	}
}

.collapsible-body{
	.task-desc{
		padding: 1rem;
	}
}