.sortable-todo-items { 
	list-style-type: none; width: 100%; 

	>.row{
		margin-bottom: 0px;
	}

	h4.active{
		color: #F8A382;
	}

	h4{
		color: #95A0AF;
	}

	.collapsible{
		border:none;

		&:hover{
			transition: box-shadow .25s;
		}

		.ui-state-default{

			border:0px solid #fff;

			.todo-tasks-header{

				min-height:none;
				color:#516580;
				border-bottom: 0px solid #ccc;
				padding:0rem !important;
				padding-bottom:10px;

				 .todo-inner-content{
					margin-bottom: 0px;
					position:relative;

					p{
						margin:0px;
					}

					i.todo-status-mob{
						line-height: 1.8em;
					}

					.roundedTwo{
						  margin-top: 10px;
						  width: 20px;
				    	  height: 20px;
						  position: relative;
						  border-radius: 50px;
						  border:1px solid #ccc;
						
						.task-text{
							margin:0px;
							font-size: 1.2em;
							color: #8B8B8B;
							margin-top: -5px;
							text-transform: capitalize;
						}	

						& label {
						    width: 20px;
						    height: 20px;
						    position: absolute;
						    top: 4px;
						    left: 4px;
						    cursor: pointer;

						    &:after {
						      content: '';
						      position: absolute;
						      top: 5px;
						      left: 4px;
						      border: 3px solid #fcfff4;
						      border-top: none;
						      border-right: none;
						      background: transparent;
						      opacity: 0;
						      transform: rotate(-45deg);
						    }
						    &:hover::after {
						      opacity: 0.3;
						    }
						  }	
							
						input[type=checkbox] {
						    visibility: hidden;
						    &:checked + label:after {
						      opacity: 1;
						    } 
						  }   

						  input[type="checkbox"]:checked + label:before{
						  	border-right: 2px solid #F8A382;
				    		border-bottom: 2px solid #F8A382;
				    		top: -6px;
				    		left: -5px;
				    		width: 10px;
				    		height: 20px;
						  }
					}

					span.status{
						color: #818181;
						font-size: 1.1em;
					}

					.dots-icon{
						float: right;
	    				margin-right: 0px;
					}

					.todo-activity-dropdown{
						    min-width: 200px !important;
						    right: 0 !important;
						    top: 35px !important;
						    background-color:#F8F8F8;	

						li{
					
							min-height: 20px;

							a{
								font-size: 1em;
								padding:5px !important;
								color: #8B8B8B;
								
								i{
									font-size: 0.85em;
	    							margin-right: 5px;
								}

								&:hover{
									color: #fff !important;
								}
							}

							&:hover{
								background-color:#364559;
								
							}
						}
					}

					&.editable{
						display: none;
					}

					.todo-status-mob{
						margin-left: 35px;

						@media #{$medium-and-up}{
							margin-left: 0px;
						}
					}

					.date{
						margin-left: 25px;
    					margin-right: 25px;

    					@media #{$medium-and-up}{
    						margin-left: 0px;
    						margin-right: 0px;
    					}
					}
				}

				@media #{$medium-and-up}{
					padding:0 1rem;
					padding-bottom:0px;
				}
			}

			.collapsible-body{

				background-color: #fff;
				color: #516580;
			}
		}
	}
}
