.tabs-wrapper-row{
	margin-bottom:0px;
	background-color: #FAFAFA;
    padding: 20px 6px 0px 20px;
    height: auto;
}

	.todo-tabs{
		width: 100% !important;
	    background-color: #FAFAFA;
	    overflow-x: hidden;


	    li.tab{
	    height: auto;

	    	text-transform: none;
			
			a{
				background-color: #F1F1F1;
	    		margin-left: 10px;
	    		width: auto;
	    		color: #516580;
			
				&.active{
		    		background-color:#fff;
		    		border:1px solid #ccc;
		    		border-bottom:none;
		    		border-top:2px solid #ccc;
		    		border-top-left-radius:5px;
		    		border-top-right-radius:5px;
		    	}

		    	&:hover{
		    		color: #516580;
		    	}
			}
	    }

	    .indicator{
	    	display: none;
	    }
	}

	.discussion-row{

		margin-bottom: 0px;

		.discussion-tab{

		    padding: 25px 15px 0px 15px;
		    margin-bottom: 0px;

			p{
				padding:0px;
			}

			.comments-img{
				float: left;
				margin-right: 15px;
				width: 100px;
			}

			p.comment-txt{
				margin-top: 20px;
			}

			a{
				color: #4684D4;
			}
		}

	.send-row{

		padding:20px 0px 10px 5px;
		margin-bottom: 0px;

		@media #{$medium-and-up}{
			padding: 0px 15px 0px 15px;
		}

		i{
			font-size: 3em;
		}

		img{
			margin-left: 10px;
		}

		.add-textfield{
		    border: 2px solid #ECECEC;
		    background-color: #FAFAFA;
		    float:left;
		    height:20px;
		    outline:0;
		    padding:.4em 0 .4em .6em; 
		    width:65%; 

		     &:focus{
		    	border-bottom: 2px solid #ECECEC;
		    	box-shadow:none;
		    }

		    @media #{$medium-and-up}{
		    	width:85%; 
		    	margin:.8em 0 0 .5em; 
		    }
		}

		.button-holder{
		    background: #E5E5E5;
		    color: white;
		    border: 0;
		    -webkit-appearance: none;
		    cursor:pointer;
		    float:left;
		    height:36px;
		    line-height: 35px;
		    text-align:center;
		    width:40px;

		    i{
		    	font-size: 1.5em;
		    }

		     @media #{$medium-and-up}{
		     	width: 50px;
		     	line-height: 40px;
		     	margin:12px 0 0 0;
		     }
		}

		.discuss-send-btn{
			height: 40px;
    		line-height: 40px;
    		margin-top: 10px;
    		width: 100%;
		}
	}
}

.people-row{
	margin-bottom:5px;
}

	/*.slimScrollDiv{
		
		width:100% !important;*/
		
		/*.people-scroll{

			width:100% !important;
			padding-left:0px;
			padding-right:0px;

			@media #{$medium-and-up}{
				padding-left:15px;
				padding-right:15px;
			}*/

			.people-tab-row{

				border-bottom: 1px solid #F1F1F1;
				margin-bottom:0px;
				padding-top: 10px;
				padding-bottom:10px;
				
				&:hover{
					background-color:#F8F8F8;

					.pink-border{
						display: block;
						float: right;
					}
				}

				@media #{$small-and-down} {
					.pink-border{
						display: block !important;
						margin-top: 10px;
					}
				}
		
				img{
					width: 100%;

					@media #{$medium-and-up}{
						width:40px;
					}
				}

				p{
					padding:0px;
					margin-top: 5px;
					font-size: 1.1em;

					&.completed{
						margin-top: 5px;
					}

					&.incomplete{
						margin-top: 5px;
						color:#F06363;
					}

				}

				.pink-border{
					display: none;
				}

				&.people-tab-mob{
					i{
						position: relative;
						top:0px !important;
					}

					p{
						margin-bottom: 10px;
					}
				}

				.incomplete-img{
					position: relative;
    				top: 5px;

    				img{
    					width: 22px;
    				}
				}
			}

	.people-tab-footer{

		border-top: 1px solid #F2F2F2;
	    padding-top: 5px;
		margin-bottom:0px !important;

		.people-tab-add{
			margin-left: 15px;
			margin-top: 5px;
			width: 45px;
		    height: 45px;
		    line-height: 55px;
		}

		p{
			padding:0px;
			margin-top: 20px !important;
		}

		.incomplete-reminder{
			background-color: #F8F8F8;
			padding:10px;
			margin-bottom: 0px;
			text-align: center;

			.incomplete-txt{
				margin-top: 10px !important;
			}
		}

		&.tabs-mob-footer{

			p{
				margin-top: 0px !important;
			}

			>.col{
				padding-right:0px;
				padding-left:0px;
			}

			i{
				position:relative;
				top:0px !important;
			}

			span{
				position: relative;
			    top: 10px;
			    left: 15px;
			}

			p.incomplete-txt{
				font-size: 0.95em;
				margin-top: 0px !important;
			}

			a.btn{
			    width: 100%;
			    font-size: 0.95em;
			    padding: 0px;
			}
		}
	}