.sortable-todo-items { 
	list-style-type: none; width: 100%; 

	>.row{
		margin-bottom: 0px;
	}

	h4.active{
		color: #F8A382;
	}

	h4{
		color: #95A0AF;
	}

	.collapsible{
		box-shadow: none;
		border:none;

		.ui-state-default{

			border:0px solid #fff;

			.todo-tasks-header{

				min-height:none;
				color:#516580;
				border-bottom: 0px solid #ccc;

				 .todo-inner-content{
					margin-bottom: 0px;

					p{
						margin:0px;
					}

					.task-text{
						margin:0px;
						font-size: 1.3em;
						color: #8B8B8B;
					}

					span{
						color: #9C9C9C;
						font-size: 1.1em;
					}

					.dots-icon{
						float: right;
	    				margin-right: 0px;
					}
				}
			}

			.collapsible-body{

				background-color: #fff;
				color: #516580;
				
				.task-desc{
					padding: 0rem;
					padding-top: 10px;
					font-size: 1.15em;
    				color: #8B8B8B;
				}

				> .row{
					margin-bottom: 0px;
				}
			}
		}
	}
}
