.toggle-wrapper{
	border:1px solid #BE8775;
	border-radius:7px;
	line-height:35px;

	div{
		padding-left: 0px !important;
		padding-right:0px !important;
	}

	.toggle-section{
	    color: #BE8775;
	   	cursor: pointer;

		&.border-left-radius{
			border-top-left-radius: 5px;
	    	border-bottom-left-radius: 5px;
		}

		&.border-right-radius{
			border-top-right-radius: 5px;
	    	border-bottom-right-radius: 5px;
		}

	    &.active{
			background-color: #F8A382;
			color: #fff;
	    }
	}

}