$primary-color: #fff;

$navbar-height: 50px;
$navbar-height-mobile: 45px; 

$navbar-font-color: #2C3952;

$button-color: #F8A382;

$sidenav-item-height:55px;

$input-bg-color:#F8A382;

$secondary-color:#F7F7F7;
