form{
	.add-person-btn{
		width:30%;
	}

	.chosen-container{

		.chosen-single{
			border: 2px solid #E6E6E6 !important;
			border-radius:3px;
			background: none;
			height: 35px;
		}

		.chosen-search{
			input{
				width: 85% !important;
			}
		}

		.chosen-drop{
			border: 1px solid #E6E6E6 !important;
			border-radius:0px;
		}

		&.chosen-container-active{
			border: 1px solid #E6E6E6 !important;
			border-radius:3px;
			

			.chosen-single{
				box-shadow:none;
				background:none;
			}
		}

	}
}

