
.todo-form{
	width:100%;

	.tag-inputs{

		background-color:#4D5C6F;
		color: #fff;
		font-size: 1.1em;
		padding:0 25px;
		margin-top: 10px;
	    margin-bottom: 10px;

		.chip-close{
			float: left;
			padding-left:0px;
			padding-right:10px;
		}
	}

	.todo-modal-datepicker{

		.datepicker-box{
			margin-bottom: 10px;

			span{
				i{
					position: relative;
					top:5px;
				}
			}
		}
	}

	.chosen-container{

			width:100% !important;
			.chosen-single{
				border: 2px solid #E6E6E6 !important;
				border-radius:5px;
				background: none;
				height: 33px;
				box-shadow:none;
			}

			.chosen-search{
				input{
					width: 85% !important;
				}
			}

			.chosen-drop{
				border: 1px solid #E6E6E6 !important;
				border-radius:0px;

				.highlighted{
					background-color:#50B3A1 !important;
					background-image:none;
				}
			}

			&.chosen-container-active{
				border-radius:3px;

				.chosen-single{
					box-shadow:none;
					background:none;
				}

				&.chosen-with-drop{
					.chosen-single{
						div b{
							background-position:0px 2px;
						}
					}
				}
			}
		}

}