form{
	.add-person-btn{
		width:48%;
		padding:0px;

		@media #{$medium-and-up}{
			width:30%;
    		padding: 0px;
		}
	}

	.chosen-container{

		.chosen-single{
			border: 2px solid #E6E6E6 !important;
			border-radius:3px;
			background: none;
			height: 35px;
			box-shadow:none;
		}

		.chosen-search{
			input{
				width: 85% !important;
			}
		}

		.chosen-drop{
			border: 1px solid #E6E6E6 !important;
			border-radius:0px;

			.highlighted{
				background-color:#50B3A1 !important;
				background-image:none;
			}
		}

		&.chosen-container-active{
			border-radius:3px;
			

			.chosen-single{
				box-shadow:none;
				background:none;
			}
		}

	}
}

