
.todo-form{
	width:100%;

	.tag-inputs{

		background-color:#4D5C6F;
		color: #fff;
		font-size: 1.1em;
		padding:0 25px;
		margin-top: 10px;
	    margin-bottom: 10px;

		.chip-close{
			float: left;
			padding-left:0px;
			padding-right:10px;
		}
	}

	.todo-modal-datepicker{

		.datepicker-box{
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

}