
.todo-form{
	width:100%;
	.attached-img{
		margin-top:1rem;
		width: 5rem;
		height: 5rem !important;
	}

	.attach{
		background-color: #ccc;
	    cursor: pointer;
	    width: 5rem;
	    height: 5rem !important;
	    line-height: 5rem !important;
	    padding: 1rem;

	    &:hover{
	    	background-color:#ccc;
	    	box-shadow:none;
	    }

	    img{
	    	width: 35px;
	    }
	}

	.tag-inputs{

		background-color:#4D5C6F;
		color: #fff;
		font-size: 1.1em;
		padding:0 25px;

		.chip-close{
			float: left;
			padding-left:0px;
			padding-right:10px;
		}
	}

}