form{

	width: 90%;
    margin: 0px auto;

	& > .row{
		margin-bottom: 10px;

		.input-fields{
			border-bottom:none !important;
			border:2px solid #E6E6E6 !important;
			height:1.5rem;
			padding: 1.5% 10px !important;
    		border-radius: 5px;
    		width:90%;

    		&.large-inputs{
				height:2.8rem !important;
				padding:0.5% 2% !important;
				font-size: 1.2em;
				color: #364559;
				width:95%;

				&::-webkit-input-placeholder {
				  color: #364559;
				}

				&:-moz-placeholder { /* Firefox 18- */
				   color: #364559;
				}

				&::-moz-placeholder {  /* Firefox 19+ */
				   color: #364559;
				}

				&:-ms-input-placeholder {  
				   color: #364559;
				}
			}

			&.textarea-field{
				font-size: 1.2em !important;
				color: #364559;
				padding:2% !important;
				width:95%;

				&::-webkit-input-placeholder {
				  color: #364559;
				}

				&:-moz-placeholder { /* Firefox 18- */
				   color: #364559;
				}

				&::-moz-placeholder {  /* Firefox 19+ */
				   color: #364559;
				}

				&:-ms-input-placeholder {  
				   color: #364559;
				}
			}

    		&:focus{
    			border:2px solid #F8A382 !important;
    		}

    		&:focus{
    			box-shadow: none;
    		}

    		&.chips-input{
    			width:95%;
    		}
		}

		label{
			color: #8B8B8B;
    		font-size: 1.1em;
    		float: right;
		}

		select{
			height: 2rem;
    		border-radius: 4px;
    		border:1px solid #ccc !important;
    		margin-bottom: 10px;

    		option:disabled{
    			color:#eeeeee !important;
    		}
		}

		&.upload-section{

			margin-top: 15px;
			margin-bottom: 15px;
			label, a.btn{
				margin-top: 15px !important;
				display: inline-block;
			}
		}

		.browser-default{
			color: #E6E6E6 !important;
		}
	}

}

.btn-default{
	margin-right:5px !important;
	background: transparent;
    color: #000;
    box-shadow: none;
    text-decoration: underline;

    &:hover{
    	background-color:transparent;
    	box-shadow:none;
    }
}

.btn-primary{
	padding:0 0.5rem;

	@media #{$medium-and-up}{
		padding:0 2rem;
	}
}

.btn-green{
    color: #fff !important;
    background-color: #50B3A1;
    margin-top:10px;
    text-transform: initial;
    width: 100%;
    border-radius: 7px;
    text-decoration: none;

    &:hover{
    	color: #fff;
    	background-color: #50B3A1;
    }

    &:focus{
    	color: #fff;
    	background-color: #50B3A1;
    }
}
