.clearfix{
	clear: both;
}

.marginBottomNone{
	margin-bottom:0px;
}

.paddingLeftNone{
	padding-left:0px !important;
}

.paddingRightNone{
	padding-right:0px !important;
}

.leftLabel{
	float:left !important;
}

.left-right-grey-border{
	border-left:2px solid #ccc;
	border-right:2px solid #ccc;
}

.pink-heading{
	color:#F8A382;
	margin-left:15px;
	margin-top:20px;
	margin-bottom:15px;
}

.grey-bg{
	background-color:#F8F5F4;
}

.w80{
	width:80%;
}

.blue-btn{
	background-color:#364559;
	color:#fff;
	width: 100%;
    height: 45px;

	&:hover{
		background-color:#364559;
		color:#fff;
	}
}

.completed{
	color:#50B3A1;
	font-size: 1.3em;
}

.incomplete{
	color:#F8A382;
	font-size:1.3em;
}

.pink-border{
	background-color:#fff;
	border:1px solid #F8A382;
	color:#F8A382;
	float:right;
	margin-top: 10px;

	&:hover{
		background-color:#fff;
		border:1px solid #F8A382;
		color:#F8A382;
	}
}

.no-margin{
	margin-top:0px;
}
