.clearfix{
	clear: both;
}

.marginBottomNone{
	margin-bottom:0px;
}

.paddingLeftNone{
	padding-left:0px !important;
}

.paddingRightNone{
	padding-right:0px !important;
}

.leftLabel{
	float:left !important;
}