

.clearfix{
	clear: both;
}

.lean-overlay{
	z-index: 10002 !important;
}

.marginBottomNone{
	margin-bottom:0px;
}

.paddingLeftNone{
	padding-left:0px !important;
}

.paddingRightNone{
	padding-right:0px !important;
}

.marginNone{
	margin:0px;
}

.leftLabel{
	float:left !important;
}

.left-right-grey-border{
	border-left:2px solid #ccc;
	border-right:2px solid #ccc;
}

.no-bg-border{
	background-color:transparent !important;
	border:0px solid #fff !important;
}

.pink-heading{
	color:#F8A382;
	margin-left:15px;
	margin-top:20px;
	margin-bottom:15px;
}

.grey-bg{
	background-color:#F8F5F4;
}

.light-grey{
	color:#C1C1C1 !important;
}

.w80{
	width:80%;
}

.w85{
	width:85% !important;
}

.w90{
	width:95% !important;
}

.blue-btn{
	background-color:#364559;
	color:#fff;
	width: 100%;
    height: 45px;

	&:hover{
		background-color:#364559;
		color:#fff;
	}
}

.disabled-btn{
    background-color:#D9D9D9!important;
}

.completed{
	color:#50B3A1 !important;
	font-size: 1.3em !important;
}

.incomplete{
	color:#F8A382 !important;
	font-size:1.3em !important;
}

.pink-border{
	background-color:#fff;
	border:1px solid #F8A382;
	color:#F8A382;
	box-shadow:none;

	&:hover{
		background-color:#fff;
		border:1px solid #F8A382;
		color:#F8A382;
	}
}

.no-margin{
	margin-top:0px !important;
}

.bold-text{
	font-weight:bold;
}

.active-link{
	color:#50B3A1;
	cursor:pointer;
	text-decoration:underline;
}

.cancel-btn{
	color: #828282;
	font-size: 1.2em;
}

p.alert{
	position: fixed;
    width: 100%;
    left: 0px;
    top: 110px;
    z-index: 1000;
	margin: 0;
    color: #fff;
    padding: 5px 30px;

    @media #{$medium-and-up}{
    	left: 240px;
    	top: 120px;
    }

    &.success{
    	background-color: #8EC0B7;
    }

    a{
    	margin-top: 0px !important;
    	color: #fff;
    	text-decoration: underline;
    }
}

.chosen-container{
	width: 100% !important;
}

.modal{
	z-index: 10003 !important;
	top:10% !important;
}

.parsley-errors-list{
	margin:0px;
	color:red;
}

[type="checkbox"] + label:before{
	border: 2px solid transparent;
}

/*datepicker box*/

.datepicker-box{
	z-index: 1000;
	background-color: #F7F7F7;
	margin-bottom: 0px;
	margin-top: 7px;
	color:#9C9C9C;

	&:focus{
		background-color:#F8A382;
		border:1px solid #F8A382;
		color: #fff !important;
	}

	&:hover{
		background-color:#F8A382;
		border:1px solid #F8A382;
		color: #fff !important;
	}

	&:visited{
		background-color:#F8A382;
		border:1px solid #F8A382;
		color: #fff !important;
	}

	span{
		i{
			position:relative;
			right: -35px;
			&:hover{
				cursor: pointer;
			}
		}
		
	}	

	input{
		border-bottom:0px;
		margin-bottom: 0px;
		height: 2rem;
		position: relative;
		top: -4px;
		text-align: center;

		&.tasks-date-input{
			margin-top: 5px;
		}
	}

	i{
		line-height: 2rem;
	}
}

.todo-main-content{
	position:relative;	

	.hide-on-med-and-up{
		.toggle-wrapper{
			margin-top: 85px;
		}
	}
}

.m5{
	position:relative !important;
	left:5px !important;
}

.expand-desc-row{
	margin-bottom: 0px;

	.task-desc{
		padding: 0rem;
		padding-top: 10px;
		font-size: 1.15em;
		color: #8B8B8B;
		margin-left: 20px;

		@media #{$medium-and-up}{
			margin-left: 0px;
		}
	}
}
